:root {
    --color-light-green: #45c49c;
    --color-dark-green: #0d4d34;
    --color-light-gray: #f1f3f4;
    --color-gray: #ebedee;
    --color-dark-gray: #708090;
    --color-darker-gray: #303135;
    --color-darkest-gray: #202124;
    --color-red: #c44545;
    --color-dark-red: #681616;
    --color-blue: #4578c4;
    --color-dark-blue: #193d85;

    --font: Inter;
    --background-color: var(--color-light-gray);
    --border-color: var(--color-gray);

    --background-color-dark: var(--color-darkest-gray);
    --text-color-dark: var(--color-light-gray);
    --border-color-dark: var(--color-darker-gray);

    --button-color: var(--color-blue);
    --button-approve-color: var(--color-light-green);
    --button-cancel-color: var(--color-red);

    --button-color-dark: var(--color-dark-blue);
    --button-approve-color-dark: var(--color-dark-green);
    --button-cancel-color-dark: var(--color-dark-red);


    --input-background-color: var(--color-light-gray);
    --input-disabled-color: var(--color-dark-gray);


    
}